body {
    max-width: 1400px;
    margin:auto;
    padding: 10px 8px 10px 0px;
    font-family: 'Cormorant', serif;
}

.nav-bar {
    position: fixed;
    width:240px;
    margin-top: 10px;
}

.menu-list ul {
    list-style: none;
}

.menu-list a {
    text-decoration: none;
    font-size: 30px;
    color:#5071fc;
    line-height: 1.5;
}

.container {
    margin-left: 260px;
    font-size: 24px;
}

.container h1 {
    text-align: center;
    font-size: 44px;
    color:#5071fc;
    font-weight: normal;
}

.container ul {
    list-style: none;
    padding-left: 24px;
}
.container ul li {
    text-indent: -24px;
    margin-bottom: 6px;
}
.container ul li::before {
    content: "– ";
    padding-right: 6px;
    text-indent: -18px;
}

.philosopher-img {
    float: left;
    margin: 35px 40px 30px 20px;
    border-radius: 20px;
}

.motto {
    font-size: 30px;
    text-align: center;
    font-weight: normal;
}

h2 {
    color: #5071fc;
    font-size: 34px;
    font-weight: normal;
}

figure figcaption {
    text-align: center;
    margin-top: 6px;
    font-size: 16px;
}

figure img {
    display: block;
    margin: 40px auto 0px auto;
    
}

@media (max-width: 500px) {
    .nav-bar {
        position: static;
        
    }
    .container {
        margin-left: 0;
    }
